version: '3.7'
services:
  kratos-migrate:
    image: oryd/kratos:v25.4.0
    environment:
      - DSN=postgres://alpha:alpha@alpha-postgresql-vector:5432/alpha?sslmode=disable&max_conns=20&max_idle_conns=4
    volumes:
      - type: bind
        source: ./config
        target: /etc/config/kratos
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    restart: on-failure
    networks:
      - intranet
    depends_on:
      - alpha-postgresql-vector

  kratos-selfservice-ui-node:
    image: oryd/kratos-selfservice-ui-node:v25.4.0
    environment:
      - KRATOS_PUBLIC_URL=http://kratos:4433/
      - KRATOS_BROWSER_URL=http://127.0.0.1:4433/
      - COOKIE_SECRET=changeme
      - CSRF_COOKIE_NAME=ory_csrf_ui
      - CSRF_COOKIE_SECRET=changeme
    networks:
      - intranet
    restart: on-failure

  kratos:
    depends_on:
      - kratos-migrate
      - alpha-postgresql-vector
    image: oryd/kratos:v25.4.0
    ports:
      - '4433:4433' # public
      - '4434:4434' # admin
    restart: unless-stopped
    environment:
      - DSN=postgres://alpha:alpha@alpha-postgresql-vector:5432/alpha?sslmode=disable&max_conns=20&max_idle_conns=4
      - LOG_LEVEL=trace
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    volumes:
      - type: bind
        source: ./config
        target: /etc/config/kratos
    networks:
      - intranet

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - '4436:4436'
      - '4437:4437'
    networks:
      - intranet

  alpha-postgresql-vector:
    image: pgvector/pgvector:pg17
    environment:
      - POSTGRES_USER=alpha
      - POSTGRES_PASSWORD=alpha
      - POSTGRES_DB=alpha
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - pgdatalocal:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5432:5432
    networks:
      - intranet

networks:
  intranet:

volumes:
  pgdatalocal:
